/* edit-employee.css */

body {
    font-family: 'Arial', sans-serif;
    background-color: #f3f3f3;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
    margin: 0 auto;
    flex-grow: 1;
}

h1 {
    color: #333;
    text-align: center;
    margin-bottom: 20px;
}

.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

label {
    font-weight: bold;
    margin-bottom: 8px;
    color: #555;
}

input[type="text"],
input[type="email"],
input[type="hidden"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 95%;
    font-size: 16px;
}

button[type="submit"] {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

button[type="submit"]:hover {
    background-color: #0056b3;
}

a {
    color: #007bff;
    text-decoration: none;
    font-size: 16px;
}

a:hover {
    text-decoration: underline;
    color: #0056b3;
}

/* Customizing the form layout */
form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
}

/* Styling individual form fields */
.form-field {
    display: flex;
    flex-direction: column;
    width: 100%;
}

/* Enhancing the visual feedback for focus */
input[type="text"]:focus,
input[type="email"]:focus {
    outline: none;
    border-color: #007bff;
    box-shadow: 0 0 0 2px rgba(0, 123, 255, 0.25);
}
footer {
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    text-align: center;
    background-color: #f8f9fa;
    padding: 10px 0;
    box-shadow: 0 -2px 4px rgba(0,0,0,0.1);
}



