<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Add Employee</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/add-employee.css}" />
</head>
<body>
    <div class="container">
        <h1>Add New Employee</h1>
        <form action="#" th:action="@{/add-employee}" method="post" th:object="${employee}">
            <div class="form-group">
                <label for="firstName">First Name:</label>
                <input type="text" id="firstName" name="firstName" th:field="*{firstName}">
            </div>
            <div class="form-group">
                <label for="middleName">Middle Name:</label>
                <input type="text" id="middleName" name="middleName" th:field="*{middleName}">
            </div>            
            <div class="form-group">
                <label for="lastName">Last Name:</label>
                <input type="text" id="lastName" name="lastName" th:field="*{lastName}">
            </div>
            <div class="form-group">
                <label for="email">Email:</label>
                <input type="email" id="email" name="email" th:field="*{email}">
            </div>
            <div class="form-group">
				<label for="dateOfBirth">Date of Birth:</label>
				<input type="date" id="dateOfBirth" name="dateOfBirth" th:field="*{dateOfBirth}">
			</div>
			
			<div class="form-group">
    			<label for="department">Department:</label>
    			<select id="department" th:field="*{department}">
        		<option value="" th:unless="${departments}">Select Department</option>
        		<option th:each="dept : ${departments}" 
                th:value="${dept}" 
                th:text="${dept}">Department Name</option>
    			</select>
			</div>

            <!-- Include other fields as necessary -->
          
            <div class="form-group">
                <button type="submit">Add Employee</button>
            </div>
        </form>
        <a href="/employees">Back to list</a>
    </div>
    
    <footer>
    <p>&copy; <span th:text="${#dates.year(T(java.util.Calendar).getInstance())}">2023</span> Fardin Ahmed. All rights reserved.</p>
	</footer>

 	<script th:src="@{/js/common.js}"></script>

</body>
</html>
