<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit Employee</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/edit-employee.css}" />
</head>
<body>
    <div class="container">
        <h1>Edit Employee</h1>
        <form th:action="@{/edit-employee}" th:object="${employee}" method="post">
            <!-- Hidden field for ID -->
            <input type="hidden" th:field="*{id}" />

            <!-- Field for First Name -->
            <div class="form-group">
                <label for="firstName">First Name:</label>
                <input type="text" id="firstName" th:field="*{firstName}" />
            </div>
            <!-- Field for Middle Name -->
            <div class="form-group">
                <label for="middleName">Middle Name:</label>
                <input type="text" id="middleName" th:field="*{middleName}" />
            </div>
            <!-- Field for Last Name -->
            <div class="form-group">
                <label for="lastName">Last Name:</label>
                <input type="text" id="lastName" th:field="*{lastName}" />
            </div>
            <!-- Field for Email -->
            <div class="form-group">
                <label for="email">Email:</label>
                <input type="email" id="email" th:field="*{email}" />
            </div>
            <div class="form-group">
                <label for="Street Address">Street Address:</label>
                <input type="text" id="Street Address" th:field="*{address_streetAddress}" />
            </div>
            <div class="form-group">
                <label for="City">City:</label>
                <input type="text" id="City" th:field="*{address_city}" />
            </div>
            <!--Temporary DOB field display-->
          <!--  <p><strong>Date of Birth:</strong> <span th:text="${employee.dateOfBirth}">Date of Birth</span></p>-->
          <input type="hidden" th:field="*{dateOfBirth}" />
          <input type="hidden" th:field="*{gender}" />
            <div class="form-group">
                <label for="department">Department:</label>
                <select id="department" th:field="*{department}">
                    <option value="" th:unless="${departments}">Select Department</option>
                    <option th:each="dept : ${departments}" 
                            th:value="${dept}" 
                            th:text="${dept}"
                            th:selected="${dept.equals(employee.department)}">Department Name</option>
                </select>
            </div>

            <!-- Add other fields as necessary -->
            <div class="form-group">
                <button type="submit">Update</button>
            </div>

        </form>
    </div>
    <footer>
    <p>&copy; <span th:text="${#dates.year(T(java.util.Calendar).getInstance())}">2023</span> Fardin Ahmed. All rights reserved.</p>
	</footer>

 	<script th:src="@{/js/common.js}"></script>
</body>
</html>
