<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Employee List</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/employees.css}" />
</head>
<body>
    <h1>Employee List</h1>
    <div style="text-align: center; margin-bottom: 20px;">
        <a href="/add-employee" class="btn-add">Add New Employee</a>
    </div>

    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="employee : ${employees}">
                <td th:text="${employee.id}"></td>
                <td th:text="${employee.firstName}"></td>
                <td th:text="${employee.lastName}"></td>
                <td th:text="${employee.email}"></td>
                <td>
                    <a th:href="@{/edit-employee(employeeId=${employee.id})}">Edit</a>
                    <a th:href="@{/delete-employee(employeeId=${employee.id})}" onclick="return confirm('Are you sure you want to delete this employee?')">Delete</a>
                    <a th:href="@{/employee-info/{employeeId}(employeeId=${employee.id})}">More Information</a>
                </td>
            </tr>
        </tbody>
    </table>
    <!-- <script src="/JS/employees.js"></script> -->
    <footer>
    <p>&copy; <span th:text="${#dates.year(T(java.util.Calendar).getInstance())}">2023</span> Fardin Ahmed. All rights reserved.</p>
	</footer>

 	<script th:src="@{/js/common.js}"></script>
</body>
</html>
