<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Employee Management System</title>
    <link rel="stylesheet" th:href="@{/css/style.css}" />
</head>
<body>
    <header>
        <h1>EMS - Employee Management System</h1>
        <nav>
            <ul>
                <li><a th:href="@{/}">Home</a></li>
                <li><a th:href="@{/employees}">View Employees</a></li>
                <li><a th:href="@{/add-employee}">Add Employee</a></li>
                
            <!--<li><a th:href="@{/search}">Search</a></li>
                <li><a th:href="@{/about}">About</a></li>
                <li><a th:href="@{/contact}">Contact</a></li> -->
                
            </ul>
        </nav>
    </header>
    <main>
        <section class="cta">
            <h2>Manage Your Workforce Effectively</h2>
            <button th:onclick="|location.href='@{/employees}'|">View Employees</button>
        </section>
        <!-- Additional Sections -->
    </main>
    <footer>
        <p>&copy; 2023 EMS Project</p>
    </footer>
   <!-- <script th:src="@{/js/script.js}"></script> -->
</body>
</html>
